.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a{
  text-decoration: none;
}


.home-wrapper{
  justify-content: center;
  margin: 100px
}
.btn-content {
  flex-grow: 1;
}
.btn-primary {
  width: 100px;
  height: 100px;
  background-color: #3366ff !important;
  margin: 0 25px 25px !important;
  
}

.btn-primary :hover{
  background-color: rgb(104, 202, 74);
  border-radius: 3px;
}
.btn-primary .MuiButton-label{
  font-size: medium;
  font-weight: bold;
} 

.image-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.slider{
  width : 100%;
  margin-top : 0px
}
.image-div{
  display: flex !important;
  justify-content: center;
}
.image-div img {
  width: 100%;
  height: 200px;
}
.image-text {
  color: white;
  mix-blend-mode: difference;
  position: fixed;
  margin: 70px
}

.video-content{
  position: fixed;
  bottom : 5px;
  right: 5px
}

.iframe{
  width :300px;
  height :200px
}

@media screen  and (max-width: 600px) {
  .iframe{
    width :150px;
    height :100px
  }
}